<h3>Popup Template</h3>

<ul>
  <li><strong>Lots: </strong>{{lot}}</li>
  <li><strong>Block: </strong>{{block}}</li>
  <li><strong>Section: </strong>{{section}}</li>
  <li><strong>Status: </strong>{{status}}</li>
  <li><strong>Bedrooms: </strong>{{beds}}</li>
  <li><strong>Garage: </strong>{{garage}}</li>
  <li><strong>Address: </strong>{{address}}</li>
  <li><strong>Price: </strong>{{price}}</li>
  <li><strong>Square Footage: </strong>{{square_footage}}</li>
  <li><strong>Half Baths: </strong>{{half_baths}}</li>
  <li><strong>Builder: </strong>{{builder}}</li>
  <li><strong>Images: </strong>{{images}}</li>
</ul>
